## rectangle and lines patterns

In [8]:
length = 5
breadth = 3

for i in range(breadth):
  for j in range(length):
    print("*",end="")
  print()

*****
*****
*****

In [11]:
side = 5
for i in range(side):
  for j in range(side):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
n = 5
for i in range(n):
  print("*")

*
*
*
*
*

In [15]:
n = 5
for i in range(n):
  print("*",end=" ")

* * * * *

In [21]:
n = 5
sp = 0
for i in range(n):
  print(" "*sp+"*")
  sp += 1

*
 *
  *
   *
    *

In [23]:
n = 5
sp = n-1
for i in range(n):
  print(" "*sp + "*")
  sp -= 1

    *
   *
  *
 *
*

In [26]:
n = 5
for i in range(n):
  if i == n-1:
    print("* "*n)
  print()

* * * * *

In [30]:
n = 5
sp = n-1
for i in range(n):
  print(" "*sp+"*")

    *
    *
    *
    *
    *

##triangle patterns

In [33]:
n = 5
st = 1
for i in range(n):
  for j in range(st):
    print("*",end="")
  print()
  st += 1

*
**
***
****
*****

In [35]:
n = 5
st = n
sp = 0
for i in range(n):
  for j in range(sp):
    print(" ",end="")
  for k in range(st):
    print("*",end="")
  print()
  sp += 1
  st -= 1

*****
 ****
  ***
   **
    *

In [37]:
n = 5
sp = n-1
st = 1
for i in range(n):
  for j in range(sp):
    print(" ",end="")
  for k in range(st):
    print("*",end="")
  print()
  sp -= 1
  st += 1

    *
   **
  ***
 ****
*****

In [39]:
n = 5
st = n
for i in range(n):
  for j in range(st):
    print("*",end="")
  print()
  st -= 1

*****
****
***
**
*

In [48]:
n = 5
st = 1
sp = n-1
for i in range(n):
  for j in range(sp):
    print(" ",end="")
  for k in range(st):
    print("*",end="")
  print()
  sp -= 1
  st += 2

    *
   ***
  *****
 *******
*********

In [49]:
n = 5
st = 2*n-1
sp = 0
for i in range(n):
  for j in range(sp):
    print(" ",end="")
  for k in range(st):
    print("*",end="")
  print()
  st -= 2
  sp += 1

*********
 *******
  *****
   ***
    *

In [54]:
n = 7
st = 1
for i in range(n):
  for j in range(st):
    print("*",end="")
  print()
  if i < n//2:
    st += 1
  else:
    st -= 1

*
**
***
****
***
**
*

In [64]:
n = 7
st = 1
sp = n//2
for i in range(n):
  for j in range(sp):
    print(" ",end="")
  for k in range(st):
    print("*",end="")
  print()
  if i < n//2:
    sp -= 1
    st += 1
  else:
    sp += 1
    st -= 1

   *
  **
 ***
****
 ***
  **
   *

In [1]:
# * * * * * * * * * *
# * * * *     * * * *
# * * *         * * *
# * *             * *
# *                 *


n = 5
st = n
sp = 0
for i in range(n):
  print("*"*st+" "*sp+"*"*st)
  st -= 1
  sp += 2

**********
****  ****
***    ***
**      **
*        *